body{
  background: black;
}
#cp {
  text-align: center;
  color: aqua;
}
#over {
  color: aqua;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 0.3fr));
  gap: 10px;
  justify-content: center;
  align-items: center;
}


#cell {
  width: 100px;
  height: 100px;
  font-size: 30px;
  background: transparent;
  border: 2px solid white;
}